
<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Second Name</th>
            <th>City</th>
            <th>Street</th>
            <th>Street Number</th>
            <th>Zip Code</th>
            <th>Latitude</th>
            <th>Longtitude</th>
            <th>Phone</th>
        </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
        <tr>
            <th><%=user["id"]%></th>
            <th><%=user["username"]%></th>
            <th><%=user["email"]%></th>
            <th><%=user["name"]["firstname"]%></th>
            <th><%=user["name"]["lastname"]%></th>
            <th><%=user["address"]["city"]%></th>
            <th><%=user["address"]["street"]%></th>
            <th><%=user["address"]["number"]%></th>
            <th><%=user["address"]["city"]%></th>
            <th><%=user["address"]["geolocation"]["lat"]%></th>
            <th><%=user["address"]["geolocation"]["long"]%></th>
            <th><%=user["phone"]%></th>
        </tr>
        <% end %>
    </tbody>
</table>